.h1 {
  --tw-bg-opacity: 1;
  background-color: rgb(30 41 59 / var(--tw-bg-opacity));
  border-bottom-right-radius: 1rem/* 16px */;
  border-bottom-left-radius: 1rem/* 16px */;
  margin-bottom: 1.25rem/* 20px */;
  padding: 0.5rem/* 8px */;
  text-align: center;
}

.main {
  margin: 0.5rem/* 8px */;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 0.5rem/* 8px */;
}

.img {
  height: 7rem/* 112px */;
  border-radius: 1.5rem/* 24px */;
}
